<div class="table-responsive" id="userInformation">
	<div class="container">
		<h2 th:text="#{ms.userInformation.cabecera}"></h2>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th th:text="#{ms.email}"></th>
						<th th:text="#{ms.dinero}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${session.registeredUser.email}"></td>
						<td th:text="${session.registeredUser.amount}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>